
<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
  <div class="box box-warning">
<div class="box-header with-border">
  <h3 class="box-title">Update Barang</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <form role="form">
  <!-- text input -->
  <div class="form-group">
      <label>Kode Barang</label>
      <input [(ngModel)]="dataEdit.KdBarang" name="kodeBarang" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Kode Kategori Barang</label>
      <select name="katBarang" class="form-control" (change)="onSelect($event.target.value)">
        <!-- <option value={{dataEdit.KdKategoriBarang}}>{{dataEdit.KdKategoriBarang}}</option> -->
        <option *ngFor="let item of dataKategori" value={{item._id}}>{{item.KdKategoriBarang}}</option>
      </select>
  </div>
  <div class="form-group">
    <label>Kode Merk Barang</label>
    <select name="merkBarang" type="text" class="form-control">
      <option *ngFor="let merk of dataMerk" value={{merk.KdKategoriBarang}}>{{merk.KdKategoriBarang}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Tipe Barang</label>
    <input [(ngModel)]="dataEdit.TypeBarang" name="tipebarang" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Harga Barang</label>
    <input [(ngModel)]="dataEdit.HargaBarang" name="hargabarang" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Awal</label>
    <input [(ngModel)]="dataEdit.StokAwal" name="stokawal" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Akhir</label>
    <input [(ngModel)]="dataEdit.StokAkhir" name="stokakhir" type="number" class="form-control">
  </div>
  <div class="box-footer">
          <button type="submit" class="btn btn-default" [routerLink]="['/barang']">Cancel</button>
          <button type="submit" class="btn btn-info pull-right" (click)="putBarang(dataEdit._id)">Update</button>        
  </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
