
<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
  <div class="box box-warning">
<div class="box-header with-border">
  <h3 class="box-title">Update Barang</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <form role="form" *ngIf="dataEdit">
  <!-- text input -->
  <div class="form-group">
      <label>Kode Barang</label>
      <input [(ngModel)]="dataEdit.KdBarang" name="kodeBarang" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Kode Kategori Barang</label>
      <select ([ngModel])="dataEdit.KdKategoriBarang" name="katBarang" class="form-control" (change)="onSelect($event.target.value)">
        <!-- <option value={{dataEdit.KdKategoriBarang}}>{{dataEdit.KdKategoriBarang}}</option> -->
        <option value={{0}} selected="selected">--Pilih Kategori Barang--</option>
        <option *ngFor="let item of dataKategori" value={{item._id}}>{{item.NamaKategoriBarang}}</option>
      </select>
  </div>
  <div class="form-group">
    <label>Kode Merk Barang</label>
    <select ([ngModel])="dataEdit.KdMerkBarang" name="merkBarang" class="form-control">
      <option value={{0}}>--Pilih Merk Barang--</option>
      <option *ngFor="let merk of dataMerk" value={{merk.KdMerkBarang}}>{{merk.NamaMerkBarang}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Tipe Barang</label>
    <input [(ngModel)]="dataEdit.TypeBarang" name="tipebarang" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Harga Barang</label>
    <input [(ngModel)]="dataEdit.HargaBarang" name="hargabarang" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Awal</label>
    <input [(ngModel)]="dataEdit.StokAwal" name="stokawal" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Akhir</label>
    <input [(ngModel)]="dataEdit.StokAkhir" name="stokakhir" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Foto Barang</label>
    <input [(ngModel)]="dataEdit.GambarBarang" name="foto" type="file" class="form-control">
  </div>
  <div class="form-group">
      <label>Deskripsi Barang</label>
      <input [(ngModel)]="dataEdit.KetBarang" name="deskBarang" type="text" class="form-control">
    </div>
  <div class="box-footer">
          <button type="submit" class="btn btn-default" [routerLink]="['/barang']">Cancel</button>
          <button type="submit" class="btn btn-info pull-right" (click)="putBarang(dataEdit._id)">Update</button>        
  </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
