<div class="col-md-11">
  <!-- Horizontal Form -->
  <div class="box box-info">
      <div class="box-header with-border">
      <h3 class="box-title">Detail Pembelian Rinci Barang</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
      <div class="box-body">
          <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Kode Pembelian Detail Barang</label>

          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" value="{{dataDetail.KdPembelianDetail}}" >
          </div>
          </div>
          <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Kode Pembelian Barang</label>

          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" value="{{dataDetail.KdPembelian}}">
          </div>
          </div>
          <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Kode Barang</label>
          
          <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" value="{{dataDetail.KdBarang}}">
          </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Jumlah Barang</label>
            
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword3" value="{{dataDetail.JmlBarangBeli}}">
            </div>
            </div>
            <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Harga Pembelian Barang</label>
            
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword3" value="{{dataDetail.HargaBeli}}" disabled>
            </div>
            </div>
            <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Sub Total Harga</label>
            
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword3" value="{{dataDetail.SubTotalBeli}}" disabled>
            </div>
            </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
          <button class="btn btn-info" type="submit" [routerLink]="['./pembeliandetail']">Back</button>
      </div>
      <!-- /.box-footer -->
      </form>
  </div>