<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
  <div class="box box-warning">
<div class="box-header with-border">
  <h3 class="box-title">Add Barang</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <form role="form" (ngSubmit)="postBarang(dataAdd)">
  <!-- text input -->
  <div class="form-group">
      <label>Kode Barang</label>
      <input [(ngModel)]="dataAdd.KdBarang" name="kodeBarang" type="text" class="form-control" required>
  </div>
  <div class="form-group">
      <label>Kategori Barang</label>
      <select ([ngModel])="dataAdd.KdKategoriBarang" name="katBarang" (change)="onSelect($event.target.value)" class="form-control">
        <option value="0">--Pilih Kategori Barang--</option>
        <option *ngFor="let item of dataKategori" value={{item._id}}>{{item.NamaKategoriBarang}}</option>
      </select>
  </div>
  <div class="form-group">
    <label>Merk Barang</label>
    <select ([ngModel])="dataAdd.KdMerkBarang" name="merkBarang" (change)="onSelectMerk($event.target.value)" class="form-control">
      <option value="0">--Pilih Merk Barang--</option>
      <option *ngFor="let merk of dataMerk" value={{merk.KdMerkBarang}}>{{merk.NamaMerkBarang}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Tipe Barang</label>
    <input [(ngModel)]="dataAdd.TypeBarang" name="tipeBarang" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Harga Barang</label>
    <input [(ngModel)]="dataAdd.HargaBarang" name="hargaBarang" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Awal</label>
    <input [(ngModel)]="dataAdd.StokAwal" name="stokAwal" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Stok Barang Akhir</label>
    <input [(ngModel)]="dataAdd.StokAkhir" name="stokAkhir" type="number" class="form-control">
  </div>
  <div class="box-footer">
      <button type="submit" class="btn btn-default" [routerLink]="['/barang']">Cancel</button>
      <button type="submit" class="btn btn-info pull-right">Add</button>       
  </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
