<!-- /.box -->
<!-- general form elements disabled -->
<div class="col-xs-11">
  <div class="box box-info">
<div class="box-header with-border">
  <h3 class="box-title">Update Pembelian</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <form role="form">
  <!-- text input -->
  <div class="form-group">
      <label>Kode Pembelian Barang</label>
      <input [(ngModel)]="dataEdit.KdPembelian" name="kodeBeli" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Kode Petugas</label>
      <input [(ngModel)]="dataEdit.KdPetugas" name="kdPetugas" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Tanggal Pembelian</label>
    <input [(ngModel)]="dataEdit.TglPembelian" name="tglBeli" type="date" class="form-control">
  </div>
  <div class="form-group">
    <label>Jumlah Item Barang</label>
    <input [(ngModel)]="dataEdit.JmlItem" name="jmlItem" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Total Harga Beli</label>
    <input [(ngModel)]="dataEdit.TotalHargaBeli" name="totalHarga" type="number" class="form-control">
  </div>
  <div class="form-group">
    <label>Status Pembayaran</label>
    <input [(ngModel)]="dataEdit.StatusPembayaran" name="stPembayaran" type="number" class="form-control">
  </div>
  <div class="box-footer">
          <button class="btn btn-default" [routerLink]="['/pembelian']">Cancel</button>
          <button type="submit" class="btn btn-info pull-right" (click)="putPembelian(dataEdit._id)">Update</button>        
  </div>        
</form>
</div>
<!-- /.box-body -->
</div>
</div>
<script>
$(function () {
    //Initialize Select2 Elements
  $(".select2").select2();
  $('#datepicker').datepicker({
      autoclose: true
  });
});
</script>